body {
    height: 100%;
    padding-top: 2%;
    background: white;
    font-family: 'Raleway', sans-serif; 
    background-color: antiquewhite;
}

p {
    font-size: 18px;
    padding-top: 3%;
}

hr {
    border-width: 3px;
    border-color: darkred;
    width: 45%;
    margin: auto 0;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

#header {
    padding-bottom: 3%;
}

#site-title {
    color: black;
    font-size:36px;
}

#about {
    padding-top: 8%;
}